{{define "main"}}
	<p><a href="/">home</a></p>
	{{range .Files}}
		<a href="{{.Path}}">{{.Name}}</a> ({{.Size}})
		{{if eq "youtube" .Source.String}}
			<a href="{{.ExtLink}}">[ext]</a>
		{{end}}
		<br>
	{{end}}
{{end}}
