{{define "main"}}
<form action='/get' method='POST' autocomplete='off'>
	<p>
		<input type='text' name='url' size='50'></input><br>
	</p>
	<p>
		<input type='radio' id='audio' name='medium' value='audio' checked>
		<label for='audio'>audio</label>
		<input type='radio' id='video' name='medium' value='video'>
		<label for='video'>video</label>
	</p>
	<p>
		<input type='submit' value='download'>
	</p>
</form>
{{end}}
