{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>youtube dl</title>
	<style>
	body {
	  font-family: "menlo", monospace;
	  font-size: 10pt;
	  padding: 1pt;
	}

	input {
	  font-family: "menlo", monospace;
	  font-size: 10pt;
	  max-width: 100%;
	  box-sizing: border-box;
	}
	</style>
</head>
<body>
	<main>
		<p>youtube dl</p>
		<p><a href="/dl">archive</a></p>
		{{template "main" .}}
	</main>
</body>
</html>
{{end}}
