{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>youtube dl</title>
	<style>
	body {
	  font-family: "menlo", monospace;
	  font-size: 10pt;
	}

	input {
	  font-family: "menlo", monospace;
	  font-size: 10pt;
	}
	</style>
</head>
<body>
	<main>
		<p>youtube dl</p>
		<p><a href="/dl">archive</a></p>
		{{template "main" .}}
	</main>
</body>
</html>
{{end}}
